
/* Desarrollo de estilos para la vista de la Home */

.homePage__container{
    display: flex;                  /* Esta Propiedad */
    flex-direction: column;         /* Esta Propiedad */
    min-height: 100vh;              /* Esta Propiedad */
}