
/* Desarrollo de estilos para la vista de la Register Page */

.registerPage__container{
    padding: 0 1rem 1rem 1rem; 
    background-image: url(../../images/oled-4k.jpg);
    background-size: cover;
    background-position: center;
    min-width: 300px;
}