
/* Normalizacion de Estilos General */

*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html, body {
    background-image: url(../../images/oled-4k.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    /* width: 100vw; */
}

html {
    font-family: var(--primary-font);
    font-size: 62.5%;
    color: var(--dark-color-solid);
}


a {
    font-family: inherit;
    text-decoration: none;
    color: inherit;
}

ul, ol {
    list-style-type: none;
}

.app_container {
    max-width: 1200px;
    margin: 0 auto; 
}

img{
    width: 100%;
}
