
/* Normalizacion de Estilos General */
/*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}*/


html, body {
    height: 100%;
}

html {
    font-family: var(--primary-font);
    /*font-size: 62.5%;*/
    color: var(--dark-color-solid);
}



a {
    font-family: inherit;
    text-decoration: none;
    color: inherit;
}

ul, ol {
    list-style-type: none;
}

.container {
    height: 100vh;
    width: 100%;
    margin: 0 auto; 
}

img{
    width: 100%;
}
