
/* Desarrollo de estilos para el Componente Footer */

.footer__container{
    /* border: solid 2px darkblue; */
    padding: 0 1rem 1rem 1rem;
    margin: 0.5rem 0;
    position: relative;
    background-color: midnightblue;
}

.footer__navbar{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    list-style: none;
    padding: 0;
}

.footer__navbar_button{
    /* border: solid 1px darkgray; */
    width: 15rem;
    margin: .5rem 0;
    padding: 0 1rem;
    margin-bottom: .5rem;
}


