
/* Desarrollo de estilos para el Componente Header */

.header__container{
    border: solid 2px darkgray;
    padding: 0 1rem 1rem 1rem;
    margin: 0.5rem 0;
    position: relative;
}


.header__userLogedCard{
    border: solid 2px crimson;
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.header__title{
    text-align: center;
    margin-bottom: 2rem;
}

.header__navbar{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    padding: 0;
}

.header__navbar_button{
    border: solid 1px darkgray;
    padding: 0 1rem;
}


