/* Desarrollo de estilos para el Componente Header */

header{
    width: 100vw;
    background-image: linear-gradient(to bottom, rgba(2, 2, 15, 0.8) 80%, rgba(0, 0, 0, 0));
}

.header__container{
    /* border: solid 2px crimson; */
    padding: 1rem;
    position: relative;
    display: flex;
    flex-direction: column;
}

.header__logoContainer{
    /* border: solid 2px green; */
    width: 42rem;
    margin: 0 auto;
}

.header__navbar{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;   
}

.header__navbar_button {
    /* border: solid 2px yellow; */
    font-family: Poppins;
    font-size: 1.3rem;
    font-weight: normal;
    color: #fff;
    letter-spacing: .1rem;
    text-transform: capitalize;
    padding: 1rem;
}

.header__navbar_button:hover {
    color: #0fb5de;
    transition: all 0.4s ease-in-out;
    cursor: pointer;
}

.header__userLogedCard{
    /* border: solid 2px sandybrown; */
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: absolute;
    right: 0;
    top: 0;
    margin: 1rem 1rem 0 0;
    padding: 1rem; 
    border-radius: .5rem;
    /* background-color: rgba(0, 0, 139, 0); */
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    font-family: Inter;
    color: white; 
    font-size: 1.1rem;
    letter-spacing: .1rem;
}


 .header__userLogedCardButton{
    font-family: Inter;
    font-size: 1.1rem;
    letter-spacing: .1rem;
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}








/*

@media screen and (max-width: 1383px) {
    .header__navbar {
        flex-wrap: wrap;
        justify-content: center;
    }

    .header__navbar_button {
        margin: 5px;
    }
}


@media screen and (max-width: 1010px) {
    .header__navbar {
        justify-content: flex; 
    }

    .header__navbar_button {
        padding: 0 15px;
        font-size: 14px;
        border-radius: 15px;
        height: 30px;
        line-height: 30px;
    }
}

*/
