
/* Desarrollo de estilos para el Componente Login */

.login__container{
    border-radius: 10px;
    background-color: rgba(0, 0, 139, 0.3);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    max-width: 300px;
    min-width: 200px;
    width: 80%;
    margin: auto;
    padding: 1rem; 
    color: white; 
}
.login__container span {    
    padding: 0.5rem; 
    border-radius: 5px;
}

.login__form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
}

.login__form-inputfield{
    width: 98%;
    height: 30px;
    border-radius: 5px; 
    border: none;
    
}

.login__register-link{
    display: flex;
    gap: 3rem;
    align-items: center;
    justify-content: center;
}


.login__register-link span,
.login__register-link a {
    display: inline-flex;
    text-align: center;
    align-items: center; 
}
.login__form_btn{
    display: flex;
    justify-content: center;
}

.login_btn{
    margin: 5px 5px 0 0;
    padding: 8px 16px;
    font-size: 16px;
    background-color: #f0f0f0;
    color: #333;
    border: none;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;    
    width: 120px;
}

.login_btn:hover{
    background-color: #a0a0a0;
}
.login_btn:active {
    
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    transform: scale(0.95);
}