
/* Desarrollo de estilos para el Componente Card de Pelicula */

.peliculasCard__container {
    width: 200px;
    text-align: center;
    max-height: 400px;
    overflow: hidden;
    border-radius: 1rem;
    box-shadow: 5px 5px 15px rgb(24, 24, 24);
    transition: all 0.3s ease;
    position: relative;
}


.peliculasCard__container:hover {
scale: 1.05;
z-index: 1;
-webkit-box-shadow: 0px 0px 5px 5px rgba(122,121,89,1);
-moz-box-shadow: 0px 0px 5px 5px rgba(122,121,89,1);
box-shadow: 0px 0px 5px 5px rgba(122,121,89,1);
}

.peliculasCard__poster{
    padding: .2rem;
    margin: 0;
}

.peliculasCard__poster-img{
    border-radius: 1rem 1rem 0 0 ;
}

.peliculasCard_textoLight {
    color: var(--light-color-900);
}

.peliculasCard__Favorite{
    position: absolute;
    bottom: .8rem;
    left: .8rem;
    font-size: 2rem;
}

.favoriteTrue{
    color: crimson;
}

.favoriteFalse{
    color: gainsboro;
}

@media(max-width:560px){
    .peliculasImage{
width: 90%;
height: auto;
    }
}