
/* Desarrollo de estilos para el Componente Grilla de Peliculas */

.peliculasDetalle__main {
    flex-grow: 1;                   /* Esta Propiedad */
    width: 100%;

    display: flex;                  /* Esta Propiedad */
    flex-direction: column;         /* Esta Propiedad */
}

.peliculasDetalle__title{
    font-size: 3rem;
    color: #d6d6d6;
    padding-left: 3rem;
    margin: 1rem 0 1.5rem;
}

.peliculasDetalle__loading,
.peliculasGrilla__server-down,
.peliculasGrilla__server-error {
    display: flex;                  /* Esta Propiedad */
    flex-direction: column;
    justify-content: center;        /* Esta Propiedad */
    align-items: center;            /* Esta Propiedad */
    gap: 3rem;

    flex-grow: 1;
}

.peliculasDetalle__loading-img{
    height: 5rem;
    width: 5rem;
}

.peliculasDetalle__spinnerContainer{
    display: flex;
    gap: 1rem;
}

.peliculasDetalle__flex{
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
}

.peliculasDetalle__poster-img{
    height: 40rem;
    width: 25rem;
}






.peliculasGrilla__ItemsContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.peliculasDetalle__loading,
.peliculasDetalle__server-down,
.peliculasDetalle__server-error {
    padding: 1rem;
    width: 100%;
    text-align: center;
}



.peliculasDetalle__server-down-img{
    height: 35rem;
    width: 52rem;
}

.peliculasDetalle__server-error-img{
    height: 22rem;
    width: 45rem;
}


.peliculasDetalle_textoLight {
    color: var(--light-color-900);

}


