
/* Desarrollo de estilos para el Componente Card de Pelicula */

.peliculasCard__container {
    
    /* padding: 1rem; */
    width: 200px;
    list-style: none;
    text-align: center;
    
    /* height: 400px; */
    max-height: 400px;
    /* overflow: hidden; */
    border-radius: 10px;

    /* background-color: silver; */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);


}


.peliculasCard__poster-img{
    border-radius: 10px;
    height: 25rem;
    width: 18rem;
    
}

.peliculasCard_textoLight {
    color: var(--light-color-900);
    text-decoration: none !important;

    position: relative;   /* Linea agregada para el "Add Favorites" */
}


.peliculasCard_textoLight :hover {
    text-decoration: none !important;

}

@media(max-width:560px){
    .peliculasImage{
width: 90%;
height: auto;
    }
}